<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "About user"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">Nickname</th>
            <td class="table__col2"><%= "#{@user.nickname}" %></td>
          </tr>
          <tr>
            <th class="table__col1">Self introduction</th>
            <td class="table__col2"><%= "#{@user.introduction}" %></td>
          </tr>
          <tr>
            <th class="table__col1">Lanuage(s) user can speak</th>
            <td class="table__col2"><%= "#{@user.language}" %></td>
          </tr>
          <tr>
            <th class="table__col1">Hobby</th>
            <td class="table__col2"><%= "#{@user.hobby}" %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "User's transphoto(s)"%>
      </h2>
      <div class="user__card">
        <%= render partial: 'transphotos/transphoto', collection: @user.transphotos %>
      </div>
    </div>
  </div>
</div>