<main class="main">
  <div class="inner">
    <div class="transphoto__wrapper">
      <p class="transphoto__heading">
        <%= "#{@transphoto.title}"%>
      </p>
      <%= link_to "by #{@transphoto.user.nickname}", user_path(@transphoto.user), class: :transphoto__user %>

      <% if user_signed_in? && current_user.id == @transphoto.user_id %>
        <div class="transphoto__manage">
          <%= link_to "Edit", edit_transphoto_path, class: :transphoto__btn %>
          <%= link_to "Delete", transphoto_path(@transphoto.id), method: :delete, class: :transphoto__btn %>
        </div>
      <% end %>

      <div class="transphoto__image">
        <%= image_tag @transphoto.image.variant(resize: '800x800') %>
      </div>
      <div class="transphoto__body">
        <div class="transphoto__detail">
          <p class="detail__title">Language Pair</p>
          <p class="detail__message">
            <%= "#{@transphoto.from_to}" %>
          </p>
        </div>
        <div class="transphoto__detail">
          <p class="detail__title">Message</p>
          <p class="detail__message">
            <%= "#{@transphoto.message}" %>
          </p>
        </div>
      </div>
      <div class="transphoto__comments">
        <% if user_signed_in? %>
          <%= form_with(model: [@transphoto, @comment], local: true) do |f|%>
            <div class="field">
              <%= f.label :content, "Translation" %><br />
              <%= f.text_area :content, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "Submit", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>
        <ul class="comments_lists">
            <li class="comments_list">
              <% @transphoto.comments.each do |comment| %>
                <p>
                  <%= link_to "#{comment.user.nickname}", user_path(comment.user), class: :comment_user %>
                  <%= comment.updated_at.strftime("%Y-%m-%d %H:%M") %><br>
                  <%= simple_format(comment.content) %>
                  
                  <% if user_signed_in? && current_user.id == comment.user_id %>
                    <div class="comment__manage">
                      <%= link_to "Delete", transphoto_comment_path(@transphoto, comment), method: :delete, class: :comment__btn %>
                     </div>
                  <% end %>
                </p>
              <% end %>
            </li>
        </ul>
      </div>
    </div>
  </div>
</main>
